# Ignore Python system files
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore Mac system files
.DS_Store

# (Optional) Ignore the virtual environment if you have one
.venv/
venv/

# --- AI & Build Artifacts ---
# Ignore the compiled CoreML model (Large Binary)
*.mlpackage

# Ignore zipped archives
*.zip

# Ignore the 'models' folder if FastAI creates one
models/
